<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') -%>
</head>

<body>

  <%- include('../layout/header') -%>
  
  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1><%= categories[product.category_id - 1].name %> category</h1>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/shop">Shop</a></li>
            <li class="current"><%= product.name %><li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- products product Details Section -->
    <section id="product-details" class="product-details section">

      <div class="container" data-aos="fade-up">

        <div class="row">
          <h3><%= product.name %></h3>
          <div class="col-lg-8">
            <img src='<%= product.image %>' class="img-fluid" alt='<%= product.name %>' >
          </div>
        
          <div class="col-lg-4">

            <div class="product-info d-flex justify-content-between align-items-center">
              <h5>Weight</h5>
              <p><%= product.weight %></p>
            </div>

            <ul class="description d-flex">
              <h5>Description</h5>
                <% product.description.split(' - ').forEach(item => {  %>
                  <li> - <%= item %></li>
                <% }) %>
            </ul>

            <div class="product-info d-flex justify-content-between align-items-center">
              <h5>Star</h5>
              <p><i class="bi bi-star-fill" style="color: gold;"></i>&nbsp;&nbsp;<%= product.star == 0 ? 'No rate' : product.star %></p>
            </div>

            <div class="product-info d-flex justify-content-between align-items-center">
              <h5>Price</h5>
              <p><%= product.price %></p>
            </div>
            
          </div> 

        </div>

      </div>

    </section><!-- /products product Details Section -->

  </main>

  <!-- footer -->
  <%- include('../layout/footer') -%>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- scripts -->
  <%- include('../layout/scripts-connector') -%>

</body>

</html>